{:paths ["src/clj" "src/cljc" "classes"]
 :deps {org.clojure/clojure {:mvn/version "1.10.3"}
        net.cgrand/macrovich {:mvn/version "0.2.1"}}
 :aliases
 {:build {:main-opts ["-e" "[(compile,'farolero.proto),(compile,'farolero.signal)]"]}
  :cljs {:extra-paths ["src/cljs"]
         :extra-deps {org.clojure/clojurescript {:mvn/version "1.10.758"}}}

  :dev {:extra-paths ["dev"]}
  :test {:extra-paths ["test"]
         :extra-deps {org.clojure/test.check {:mvn/version "1.1.0"}}}
  :runner
  {:extra-deps {com.cognitect/test-runner
                {:git/url "https://github.com/cognitect-labs/test-runner"
                 :sha "b6b3193fcc42659d7e46ecd1884a228993441182"}}
   :main-opts ["-m" "cognitect.test-runner"
               "-d" "test"]}
  :jar {:replace-deps {com.github.seancorfield/depstar {:mvn/version "2.0.193"}}
        :exec-fn hf.depstar/jar
        :exec-args {:jar "farolero.jar" :sync-pom true
                    :group-id "org.suskalo" :artifact-id "farolero"
                    :version "0.1.0-SNAPSHOT"
                    :compile-ns [farolero.signal]
                    :exclude ["clojure/core/specs/alpha.*"]}}
  :install {:replace-deps {slipset/deps-deploy {:mvn/version "0.1.5"}}
            :exec-fn deps-deploy.deps-deploy/deploy
            :exec-args {:installer :local :artifact "farolero.jar"}}
  :deploy {:replace-deps {slipset/deps-deploy {:mvn/version "0.1.5"}}
           :exec-fn deps-deploy.deps-deploy/deploy
           :exec-args {:installer :remote :artifact "farolero.jar"}}}}
