{:cljdoc.doc/tree [["Readme" {:file "README.md"}]
                   ["Changelog" {:file "CHANGELOG.md"}]
                   ["Examples" {:file "doc/examples.md"}
                    ["Log Analyzer" {:file "doc/examples/log-analyzer.md"}]]]}
